/* Card container */
.card-container {
  width: min(80vw, 320px);
  color: var(--col-black);
  border-radius: var(--bor-rad);
  background-color: var(--col-white);
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow) 3px 3px;
}

.card-image {
  border-top-left-radius: var(--bor-rad);
  border-top-right-radius: var(--bor-rad);
  width: 100%;
  height: 342px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/image-product-mobile.jpg");
}

.card-content {
  width: 100%;
  padding: clamp(2rem, 3vw, 3.25rem);
}

.card-content .category {
  color: var(--col-grey);
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-size: .75em;
}

.card-content h2.title {
  font-size: 1.85em;
  line-height: 1;
}

.card-content p {
  color: var(--col-grey);
  line-height: 1.6;
}

.card-content .card-prices {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.card-content .card-prices h2.price {
  color: var(--col-green-500);
  font-size: 1.85em;
  margin: 0 1.5rem 0 0;
}

.card-content .card-prices span {
  text-decoration: line-through;
  color: var(--col-grey);
}

.card-content button.card-btn {
  border-radius: .4rem;
  border-color: transparent;
  color: var(--col-white);
  background-color: var(--col-green-500);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.card-content button.card-btn:hover {
  background-color: var(--col-green-700);
}

.card-content button.card-btn img.icon-cart {
  margin-right: .8rem;
}


/* Responsive */
@media (min-width: 720px) {
  .card-container {
    width: min(70vw, 620px);
    flex-direction: row;
  }
  .card-image {
    border-top-left-radius: var(--bor-rad);
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--bor-rad);
    height: auto;
    background-image: url("../images/image-product-desktop.jpg");
  }
}